.App {
  text-align: center;
}

.Input {
  padding: 7px 5px;
  margin: 15px 0;
  margin-right: 10px;
  width: 250px;
  color: white;
  border: 1px solid black;
  border-radius: 6px;
}

.Input:focus {
  background-color: black;
}

.Add {
  padding: 10px;
  background-color: black;
  color: white;
  border: solid white;
  border-radius: 5px;
  cursor: pointer;
}

.Add:hover {
  background-color: #2f4f4f;
}

h2 {
  color: white;
  text-align: center;
  font-size: xx-large;
}

ul {
  padding: 0;
}

li {
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  padding: 12px;
  list-style-type: none;
}

.Section {
  width: 600px;
  height: auto;
  text-align: center;
  margin: 50px auto;
  border: 2px solid white;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}

.react-icons {
  float: right;
  cursor: pointer;
  color: #800000;
}
